// .sign-in {
//     position: absolute;
//     z-index: 10;
//     background-color: white;
//     left: 50%;
//     top: 50%;
//     width: 360px;
//     height: 300px;
//     margin-top: -150px;
//     margin-left: -180px
// }
.sign-in {
    position: fixed;
    z-index: 10;
    background-color: white;
    left: 50%;
    top: 50%;
    width: 360px;
    /* height: 300px; */
    transform: translate(-50%, -45%);
    padding: 1rem
}
