$wfrBlue: #4775ff;
$white: #fff;

@media (max-width: 450px) {
  .filter-modal {

    .filter-modal-body {

      .modal-container {
        display: flex;
        flex-flow: row wrap;

        h6 {
          display: none;
        }

        .button-col {
          display: flex;

          .select-button {
            border: none;
            border-radius: 20px;
            height: 24px;
            margin-bottom: .5rem;
            padding: 2px 16px;
          }

          p {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 150%;
          }

          #unclicked {
            background-color: #C4D3FF;
            color: #000;
            font-weight: 300;
          }

          #clicked {
            background-color: $wfrBlue;
            color: $white;
            font-weight: bold;
          }
        }

      }



    }

  }

}


@media (min-width: 450px) {

  .filter-modal {

    .filter-modal-body {

      .modal-container {
        background-color: #C4D3FF;
        border-radius: 16px;
        display: show;
        font-family: 'Roboto';
        margin-bottom: 1rem;
        padding-top: .5rem;

        h6 {
          margin-left: 1rem;
        }

        .button-col {
          align-items: center;
          display: flex;
          justify-content: center;

          .select-button {
            border: none;
            border-radius: 20px;
            height: 24px;
            margin-bottom: 1em;
            padding: 0;
            width: 134px;
          }

          .submit-button {
            border-radius: 20px;
            height: 32px;
            margin: 0;
            width: 168px;
          }

          p {
            color: #222;
            font-weight: 300;
            margin: 0;
            text-decoration-line: underline;
          }

          #unclicked {
            background-color: $white;
            color: #000;
            font-weight: 300;
          }

          #clicked {
            background-color: $wfrBlue;
            color: $white;
            font-weight: bold;
          }

        }
      }
    }
  }
}
