$wfrBlue: #4775ff;
$white: #fff;

.filter-button {
  background-color: $wfrBlue;
  height: 40px;
  width: 120px;
}

.select-button {
  border: none;
  border-radius: 20px;
  height: 24px;
  margin-bottom: 1em;
  padding: 0;
  width: 134px;
}

.filter-modal {

  .filter-modal-body {

    .modal-container {
      background-color: #C4D3FF;
      border-radius: 16px;
      font-family: 'Roboto';
      margin-bottom: 1rem;
      padding-top: .5rem;

      h6 {
        margin-left: 1rem;
      }

      .button-col {
        align-items: center;
        display: flex;
        justify-content: center;

        .submit-button {
          border-radius: 20px;
          height: 32px;
          margin: 0;
          width: 168px;
        }

        p {
          font-weight: 300;
          margin: 0;
          text-decoration-line: underline;
        }

        #unclicked {
          background-color: $white;
          color: #000;
          font-weight: 300;
        }

        #clicked {
          background-color: $wfrBlue;
          color: $white;
          font-weight: bold;
        }

      }
    }


  }

}
