.checkbox-toolbar label {
    background-color: #FFF;
    padding: 4px 16px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    border-radius: 33px;
    margin-left: 5px;
}

.checkbox-toolbar input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 0;
}

.checkbox-toolbar input[type="checkbox"]:checked+ label {
    background-color:#FFCC47;
    color: #FFF;
    font-weight: bold;
}

.close-window-white {
  background-color: #4775FF;
  border: none;
  font-size: 17px;
  position: absolute;
  top: 15px;
  right: 15px;
  img {
    background: #4775FF !important;
  }
}

.form-check {
  padding: 0px !important;
}

.gen-info-options {
  height: auto;
}

.main-header {
  align-items: center;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  justify-content: center;
  line-height: 150%;
  margin-top: 20px;
  position: inherit;
  text-align: center;
}

.question {
  margin-top: 16px;
  margin-bottom: .12px;
}

.question-header {
  align-items: center;
  color: #FFF;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  justify-content: center;
  line-height: 150%;
  position: inherit;
  text-align: left;
}

.radio-toolbar label {
    background-color: #FFF;
    margin-left: 5px;
    padding: 4px 16px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    border-radius: 33px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 0;
}

.radio-toolbar input[type="radio"]:checked+ label {
    background-color:#FFCC47;
    color: #FFF;
    font-weight: bold;
}

.review-form {
  background: #4775FF;
  border-radius: 12px;
  box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.15);
  height: 80vh;
  justify-content: center;
  left: 50%;
  padding: 0px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -45%);
  min-width: 360px;
  width: 376px;
  z-index: 1;
}

.review-scroll {
  height: 90%;
  margin: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.review-text-input {
  font-family: Roboto;
  font-size: 16px;
}

.sub-header {
  align-items: center;
  color: #FFF;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  justify-content: center;
  line-height: 150%;
  position: inherit;
  text-align: center;
}

.submit {
  background-color: #FFCC47!important;
  border-radius: 33px;
  color: #222222 !important;
  float: right;
  font-weight: 300;
  font-size: 13px;
  margin-top: 25px;
  :hover {
    background-color: #e4a500 !important;
    font-weight: 500;
  }
}

// Stars CSS
.stars {
  font-size: 40px;
  height: auto;
  margin: 0 auto;
  text-align: left;
}

.dv-star-rating-star {
  margin: 0rem !important;
  padding: 0rem !important;
  i {
    // color: #FFCC47 !important;
  }
}

// Slider CSS

.slider-text {
  color: #FFF;
  font-size: 11px;
  justify-content: center;
  margin: 10px;
  margin-bottom: 0px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10.9px 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: #4775FF !important;
  border: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  background: #FFF;
  border-radius: 0px;
}

input[type=range]::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffcc47;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  border-radius: 0px;
}
input[type=range]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffcc47;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  border-radius: 0px;
}
input[type=range]::-ms-fill-upper {
  border-radius: 0px;
}
input[type=range]::-ms-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffcc47;
  cursor: pointer;
  height: 2.2px;
}


// @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2) {
//
//   .checkbox-toolbar label {
//     font-size: 13px;
//   }
//
//   .main-header {
//     font-size: 12px;
//   }
//
//   .radio-toolbar label {
//     font-size: 13px;
//   }
//
//   .review-form {
//     width: 320px;
//   }
// }
