.userPic {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  float: left;
}

.nameStar {
   display: -webkit-box;
}

.userName {
  width: 170px;
  padding-left: 20px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;


  @media only screen and (min-width: 426px) and (max-width: 768px) {
    width: 120px;
  }
  @media only screen and (max-width: 425px) {
    width: 125px;
  }
  @media only screen and (max-width: 320px) {
    width: 135px;
  }
}

.starsReview {
  margin-top: 10px;

  @media only screen and (min-width: 426px) and (max-width: 768px) {
    margin-left: -5px;
  }

  @media only screen and (max-width: 320px) {
    margin-left: -5px;
  }
}


.userNotes {
  height: 42px;
  margin-left: 80px;
  margin-top: -5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.userNotes::-webkit-scrollbar {
  display: none;
}

.emptyNotes {
  color: #C4C4C4;
}
