
.heading {
  flex-direction: row;
}

.image {
  display: block;
  -moz-box-sizing: border-box;
  // box-sizing: border-box;
  width: 180px;
  height: 236px;
  padding-left: 200px;
}

.header-container-wrapper {
	background-color: #4775FF;
}
