.fadeOut{
  background-color: #FFFF;
  height: 100vh;
  opacity: 0.0;
  position: fixed;
  width: 100vw;
  z-index: 0;
  transition-property: opacity, z-index;
  transition-duration: 1.5s;
}

.splash {
  background-color: #FFFFFF;
  height: 100vh;
  opacity: 0.9;
  position: fixed;
  width: 100vw;
  z-index: 20;
}

.splash-button {
  display: flex;
  flex-direction: row;
  line-height: 150%;
  padding: 6.61px 32px 6.61px 32px;

  position: relative;
  width: 215px;
  height: 49.23px;

  background: #4775FF;
  border-radius: 40px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  color: #FFFFFF;

  top: 90.25px;
  margin: auto;
  bottom: 13.44%;
  :hover {
    background-color: #3c63d6;
  }
}

.splash-message {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 17.15px;
}

.splash-x {
  float: right;
  width: 16px;
  height: 16px;
  margin: 24px;
}
