/* Entire top rated section */
.toprated-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* This is the button that is used to open and close the content */
.toprated {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 0px;
}

/* This is the list item that the user sees in the menu, it is the text only, not the button itself */
.toprated-title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: left;
  align-items: center;
  color: #222222;
  display: flex;
  font-weight: 300;
  margin: 0px;
  margin-left: 5px;
}


/* Styles the top rated content panel. Note: hidden by default */
.toprated-content {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  transition: max-height 0.6s ease;
  height: 45vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.toprated-content::-webkit-scrollbar {
  display: none;
}

// /* Hide scrollbar for IE and Edge */
// .toprated-content {
//   -ms-overflow-style: none;
// }

.toprated:hover,
.active {
  color: #4775FF !important;
}

/// STYLES FOR TOP RATED CARDS

ul {
  padding: 0px
}

.address-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-7 {
  padding: 0px;
}

.card-content {
  color: #222222;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 300;
}

.open-now {
  display: inline;
  background: #A4FF2E;
  border-radius: 31px;
  margin-right: 5px;
  padding: 1px 8px;
}

.plain-text {
  color: #222222;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.top-rated-card {
  border: 1px solid #4775FF;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: auto;
  max-width: 252px;
  padding: 10px 30px;
  margin: 10px;
}

.top-rated-right-arrow {
  fill: #222222;
}

.top-rated-right-arrow:hover {
    fill: #4775FF;
    transform: scale(1.4);
}

.top-rated-stars {
  font-size: 28px;
  color: #FFCC47;
  padding-top: 5px;
}

.top-rated-star {
  padding-right: 8px;
  height: 28px;
}

.workplace-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: underline;
  margin-right: 5px;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .toprated-title {
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .toprated-title {
    font-size: 18px;
  }
}

// ALL FOR CONTENT WINDOW HEIGHT

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) {
  .toprated-content {
    max-height: 30vh;
  }
  .top-rated-card {
    max-width: 220px;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  .toprated-content {
    height: 27vh;
  }
  .top-rated-card {
    max-width: 220px;
  }
}

/* Samsung Galaxy S3, S4, S5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) {
  .toprated-content {
    height: 29vh;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  .toprated-content {
    height: 39vh;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
  .toprated-content {
    height: 42vh;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
  .toprated-content {
    height: 39vh;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {
  .toprated-content {
    height: 42vh;
  }
}
