.heart {
  background-color: #FFFFFF;
  padding: 0px;
  margin: 0px;
  border: none;
  height: 16px;
  width: 16px;
}

/* Entire favorites section */
.myfavorites-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* This is the button that is used to open and close the content */
.myfavorites {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 0px;
}

/* This is the list item that the user sees in the menu, it is the text only, not the button itself */
.myfavorites-title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: left;
  align-items: center;
  color: #222222;
  display: flex;
  font-weight: 300;
  margin: 0px;
  margin-left: 5px;
}


/* Styles the top rated content panel. Note: hidden by default */
.myfavorites-content {
  overflow-y: scroll;
  overflow-x: hidden;
  transition: max-height 0.6s ease;
  height: 45vh;
}

/* Styles the top rated content text */
.myfavorites-text {
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 18px;
}

.myfavorites:hover,
.active {
  color: #4775FF !important;
}

// desktop
@media (min-width: 768px) {
  .myfavorites-title {
    font-size: 20px;
  }
}

// mobile
@media (min-width: 350px) and (max-width: 767px) {
  .myfavorites-title {
    font-size: 18px;
  }
}

///////////// FOR MY FAVORITE CARDS
ul {
  padding: 0px
}

.col-7 {
  padding: 0px;
}

.bars {
  padding: 3px 0px;
}

.card-content {
  color: #222222;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 300;
}

.open-now {
  display: inline;
  background: #A4FF2E;
  border-radius: 31px;
  margin-right: 5px;
  padding: 1px 8px;
}

.plain-text {
  color: #222222;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.my-favorite-card {
  border: 1px solid #4775FF;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: auto;
  width: 252px;
  padding: 5px 25px;
  margin: 10px;
}

.my-favorite-stars {
  font-size: 12px;
  color: #FFCC47;
}

.workplace-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: underline;
  margin-right: 5px;
}
