h1 {
  font-size: 23px;
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
}

.account-info {
  background-color: #94AFFF;
  border: none;
  border-radius: 24px;
  color: #222222;
  font-family: Roboto;
  font-weight: 300;
  text-decoration: none;
  :focus {
    border-radius: 24px;
    border: 1px solid #4775FF;
  };
}

.account-info.password {
  :focus {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.close-window-blue {
  background-color: #FFF;
  border: none;
  float: right;
  margin-right: 0px;
  img {
    background-color: #FFFFFF !important;
  }
}

.cancel-button {
  color: #222222;
  border: none;
  float: left;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin: 0px !important;
  padding: 6px 12px;
  text-decoration: underline;
  :hover {
    color:#4775FF;
  }
}

.link {
  color: inherit;
  text-decoration: underline;
  :focus {
    color: #4775FF;
  }
}

.popup {
  position: fixed;
  z-index: 10;
  background-color: #FFF;
  left: 50%;
  top: 50%;
  width: 360px;
  transform: translate(-50%, -45%);
  padding: 1rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.submit-button {
  background-color: #4775FF;
  border-radius: 22px;
  border: none;
  color: #FFF;
  float: right;
  font-family: Roboto;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 0px;
  :hover {
    background-color: #3c63d6;
  }
}
