@import '~bootstrap/scss/bootstrap';

.alert {
  position: fixed;
  z-index: 20;

  left: 50%;
  top: 50%;

  width: 360px;
  transform: translate(-50%, -45%);
  padding: 16px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.container {
  padding: 10px;
}

.close {
  &:active,
  &:focus {
    outline: none;
  }
}

.image {
  width: 70%;
  padding: 10px;
}

@keyframes light-bounce-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.danger {
  top: 9%;
}
