@import '~bootstrap/scss/bootstrap';

.alert {
  position: fixed;
  z-index: 20;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -45%);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
}

.close {
  &:active,
  &:focus {
    outline: none;
  }
}

@keyframes light-bounce-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.danger {
  top: 9%;
}