.userAlertCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 305px;
  height: 210px;
  background: linear-gradient(to right, #4775FF, #4775FF 33px, #FFF 30px, #FFF 66.66%, #FFF 66.66%);
  background-color: #FFFFFF;
  border-radius: 10px;
  left: 50%;
  margin-left: -140px;
  top: 10%;
  z-index: 20;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 150%;

  a, a:link, a:visited {
    color: #FFFFFF;
  }
}

.cardContent{
  margin-left: 20%;
  margin-top: -25%;
}

.name {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.address {
  font-weight: 300;
  font-size: 11px;
}

.hrsRow {
  display: flex;
}

.hours{
  font-weight: 300;
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 173px;
  right: 6px;
  margin-left: -14px;
}

.now {
  display: flex;
  flex-direction: row;
  padding: 1px 8px;
  position: absolute;
  width: 71px;
  height: 23px;
  border-radius: 31px;
  font-weight: 300;
  font-size: 12px;
  margin-left: 160px;
}

.open {
  background: #A4FF2E;
}

.close {
  background: #C4C4C4;
  color: black;
  width: 80px;
  padding-top: 5px;
  text-shadow: none;
}

.message {
  font-weight: 300;
  font-size: 12px;
  line-height: 200%;
  text-align: center;
  margin-top: 20px;
}

.review {
  display: flex;
  flex-direction: row;
  padding: 5px 32px 8px;

  position: absolute;
  width: 193px;
  height: 36px;

  background: #4775FF;
  border-radius: 24px;

  font-weight: bold;
  font-size: 13px;
  color: #FFFFFF;

  left: 20%;
  bottom: 10%;
}

.workspace {
  background-color: #4775FF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  width: 413px;
  height: 83vh;
  left: 15px;
  top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  position: fixed;
  z-index: 15;

  font-family: SF Pro Display, sans-serif;
  font-size: 15px;
  font-weight: 300;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.closeWindowX {
  position: fixed;
  margin-left: 375px;
}

.carousel {
  width: 355px;
  height: 190px;
  margin: 4%;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 13px;
  border-radius: 10px;
}

button.control-arrow {
  visibility: hidden;
}

button.control-next {
  visibility: hidden;
}

p.carousel-status {
  visibility: hidden;
}

.workspaceLink {
  display: inline-block;
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.workspaceInfo {
  margin-top: 15px;
}

.buttonGroup {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.button {
  width: 80px;
  height: 80px;
  background: #FFFFFF;
  border-radius: 20px;
  color: #222222;
  font-size: 11px;
  font-weight: 300;
  line-height: 120%;
  text-align: center;
}

.button img {
  display: block;
  margin: 5px 15px;
}

.favorited {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}


.nameAndStar {
  display: -webkit-inline-box;
}

.starRating {
  margin-top: -2px;
  margin-left: 5px;
}

.star {
  height: 16px;
  width: 16px;
  margin: 2px;
}

.emptyStar {
  visibility: hidden;
}

.vecStyle {
  float: right;
  margin: 6px;
}

.ratingsRow {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  @media only screen and (max-width:320px) {
    margin: 5px 0px;
  }
  @media only screen and (min-width: 426px) and (max-width: 768px) {
    margin: 5px 0px;
  }
}

.yellowBubble {
  height: 10px;
  margin: 0 6px;
  padding: 0;
  width: 40px;
  @media only screen and (max-width:320px) {
    height: 8px;
    margin: 0 2px;
    width: 24px;
  }
  @media only screen and (min-width: 426px) and (max-width: 768px) {
    height: 8px;
    margin: 0 2px;
    width: 24px;
  }
}

.grayBubble {
  height: 10px;
  margin: 0 6px;
  padding: 0;
  width: 40px;
  @media (max-width:320px) {
    height: 8px;
    margin: 0 2px;
    width: 24px;
  }
  @media (min-width: 426px) and (max-width: 768px) {
    height: 8px;
    margin: 0 2px;
    width: 24px;
  }
}

.features p {
  margin-bottom: 5px;

  @media only screen and (max-width: 320px) {
    font-size: 12px;
  }

  @media only screen and (min-width: 426px) and (max-width: 768px) {
    font-size: 12px;
  }
}

// Large desktop
@media only screen and (min-width: 2560px) {
  .workspace {
    top: 79px;
    margin: 10px;
    width: 505px;
    height: 55vh;
  }

  .carousel {
    width: 447px;
    height: 190px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 2559px) {
  .workspace {
    top: 65px;
  }
}

// Tablet
@media only screen and (max-width: 768px) {
  .workspace {
    height: 81vh;
    width: 301px;
  }

  .closeWindowX {
    margin-left: 269px;
    margin-top: -12px;
  }

  .carousel {
    width: 249px;
    height: 145px;
    margin-left: 10px;
  }

  .userAlertCard {
    top: 15%;
  }
}

// Tablet (resizing window)
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .star {
    width: 12px;
    height: 12px;
  }
}

// Large mobile
@media only screen and (max-width: 425px) {
  .workspace {
    width: 100vw;
    left: 0;
    height: 89vh;
  }

  .closeWindowX {
    margin-left: 390px;
  }

  .carousel {
    width: 355px;
    height: 185px;
    margin-left: 19px;
  }
}

// Medium mobile
@media only screen and (max-width: 375px) {
  .workspace {
    width: 100vw;
    left: 0;
    top: 68px;
    height: 88vh;
  }

  .closeWindowX {
    margin-left: 340px;
  }

  .carousel {
    width: 318px;
    height: 175px;
    margin-left: 12px;
  }
}

// Small mobile
@media only screen and (max-width: 320px) {
  .closeWindowX {
    margin-left: 286px;
  }

  .carousel {
    width: 280px;
    height: 160px;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 1%;
  }

  .star {
    width: 12px;
    height: 12px;
  }

  .userAlertCard {
    left:47%;
  }
}

// iPhone X
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .workspace {
    top: 77px;
    height: 90vh;
  }
}

// iPhone 6+, 7+ and 8+
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .workspace {
    top: 71px;
    height: 90vh;
  }

  .closeWindowX {
    margin-left: 381px;
  }
}

// Galaxy S4, S5 and Note 3
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .workspace {
      height: 89vh;
  }

  .closeWindowX {
    margin-left: 328px;
  }

  .carousel {
    width: 313px;
    margin-left: 8px;
  }

  .yellowBubble {
    width: 35px;
  }

  .grayBubble {
    width: 35px;
  }
}
