.workspace {
  background-color: #4775FF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  height: 590px;
  left: 20%;
  transform: translate(-50%, -45%);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  position: absolute;
  top: 50%;
  width: 340px;
  z-index: 12;

  font-family: SF Pro Display;
  font-size: 15px;
  font-weight: 300;
}

.workspaceImage {
  width: 328px;
  height: 152px;
  left: 24px;
  top: 193px;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.button {
  width: 80px;
  height: 80px;
  background: #FFFFFF;
  border-radius: 20px;
  color: #222222;
  font-size: 11px;
  font-weight: 300;
  line-height: 120%;
  text-align: center;
}

.starRating {
  float: right;
}

.vecStyle {
  float: right;
  margin: 6px;
}


.features p {
  margin-bottom: 5px;
}

.reviewButton {
  float: left;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  width: 172px;
  height: 40px;
  left: 17px;
  top: 790px;
  background: #FFCC47;
  border-radius: 24px;
  color: #000000;
  font-family: Roboto;
}

img {
  max-width: 305px;
  display: block;
  margin: 0 auto;
}

h5 {
  margin: 0px;
}

.link:hover {
  color: blue;
}

@media only screen and (max-width: 2560px) {
  .workspace {
    top: 50%;
    left: 17%;
    height: 505px;
  }
}

@media only screen and (min-width: 2560px) {
  .workspace {
    left: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .workspace {
    left: 20%;
    top: 52%;
    height: 482px;
  }

  .workspaceImage {
    height: 190px;
  }
}

@media only screen and (max-width: 768px) {
  .workspace {
    height: 475px;
    left: 25%;
    top: 52%;
  }

  .workspaceImage {
    height: 180px;
  }
}

@media only screen and (max-width: 425px) {
  .workspace {
    position: absolute;
    width: 375px;
    height: 480px;
    left: 50%;
    top: 53%;
  }

  .workspaceImage {
    height: 175px;
    margin-top: 8%;
    margin-bottom: 8%;
  }
}

@media only screen and (max-width: 320px) {
  .workspace {
    width: 318px;
  }

  .workspaceImage {
    max-width: 260px;
    height: 160px;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 5%;
  }
}
