/* Entire top rated section */
.my-reviews-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* This is the button that is used to open and close the content */
.my-reviews {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 0px;
}

/* This is the list item that the user sees in the menu, it is the text only, not the button itself */
.my-reviews-title {
  font-family: "Roboto", sans-serif;
  text-align: left;
  align-items: center;
  color: #222222;
  display: flex;
  font-weight: 300;
  margin: 0px;
  margin-left: 5px;
}


/* Styles the top rated content panel. Note: hidden by default */
.my-reviews-content {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  transition: max-height 0.6s ease;
  height: 45vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.my-reviews-content::-webkit-scrollbar {
  display: none;
}

// /* Hide scrollbar for IE and Edge */
// .myreviews-content {
//   -ms-overflow-style: none;
// }

.my-reviews:hover,
.active {
  color: #4775FF !important;
}

.no-reviews {
  color: #222222;
  font-size: 12px;
  text-align: center;
}

/////////////// STYLES FOR TOP RATED CARDS

ul {
  padding: 0px
}

.address {
  font-size: 10px !important;
}
.col-7 {
  padding: 0px;
}

.bars {
  padding: 3px 0px;
}

.card-content {
  color: #222222;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 300;
}

.created-at-icon {
  display: inline;
  height: 12px;
}

.plain-text {
  color: #222222;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.my-reviews-card {
  border: 1px solid #4775FF;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: auto;
  max-width: 252px;
  padding: 10px 30px;
  margin: 10px;
}

.my-reviews-options {
  background-color: #FFFFFF;
  padding: 0px;
  margin: 3px 0px 0px 10px !important;
  border: none;
  height: 20px;
  width: 20px;
}

.my-reviews-right-arrow {
  fill: #222222;
}

.my-reviews-right-arrow:hover {
    fill: #4775FF;
    transform: scale(1.4);
}
.my-reviews-stars {
  font-size: 28px;
  color: #FFCC47;
  height: 35px;
}

.my-reviews-star {
  padding-right: 8px;
  height: 28px;
}

.workplace-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: underline;
  margin-right: 5px;
  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

///////////////KEBEB MENU TOGGLE

.show {
  display: block;
}

.hide {
  display: none !important;
}

.dropdown-button {
  background-color: #FFF;
  border: none;
  padding: 0px;
  position: absolute;
}

.dropdown-button:hover {
  pointer: cursor;
  background-color: #FFF !important;
  border: none !important;
  padding: 0px;
  position: absolute;
}

// this is the image
.kebab {
  height: 17px;
  width: 17px;
  padding: 0px;
}

//this is the box that appears with the options
.options-box {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 70px;
  width: 85px;
  list-style-type: none;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 1;
}

.option-button {
  background-color: #FFF;
  border: none;
  color: #222222;
  font-weight: 300;
  font-family: Roboto;
  font-size: 11px;
  padding: 7px 0px 7px 4px !important;
  margin: 5px;
  text-align: left;
}

.option-button:hover {
  background-color: #FFF;
  color: #222222;
}

.options-icon {
  height: 12px;
  width: 12px;
  display: inline;
  margin-right: 8px;
}

.line-under {
  border-bottom: 1px solid #AAAAAA;
  border-radius: 0px;
}

.line-under:hover {
  border-bottom: 1px solid #AAAAAA;
}

/// MEDIA QUERIES

@media (min-width: 768px) {
  .my-reviews-title {
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .my-reviews-title {
    font-size: 18px;
  }
  .my-reviews-card {
    margin-right: 20px !important;
  }
}


// ALL FOR CONTENT WINDOW HEIGHT

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) {
  .my-reviews-content {
    max-height: 30vh;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  .my-reviews-content {
    height: 27vh;
  }
}

/* Samsung Galaxy S3, S4, S5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) {
  .my-reviews-content {
    height: 30vh;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  .my-reviews-content {
    height: 39vh;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
  .my-reviews-content {
    height: 42vh;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
  .my-reviews-content {
    height: 38vh;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {
  .my-reviews-content {
    height: 42vh;
  }
}
