.header {
    position: absolute;
    z-index: 10;
    background-color: white;
    top: 75px;
    left: 20px;
    // width: calc(100% - 60px);
    height: 300px;
    border-radius: 12px;
    padding: 10px;
}
