a, a:link, a:visited {
  color: #222222;
  text-decoration: none;
}

.change-pw {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  display: block;
  align-items: center;
  text-decoration-line: underline !important;
}

.close-x-white {
  height: 15px;
  width: 15px;
  margin: 12px;
  margin-top: 0px;
}

.header {
    position: absolute;
    z-index: 10;
    background-color: white;
    top: 75px;
    left: 20px;
    max-width: 508px;
    border-radius: 10px;
    padding: 10px;

    color: #FFF;
    font-family: Roboto;
    font-weight: 300;

    // background: linear-gradient(to right, #4775FF, #4775FF 10%, white 90%);
    background: linear-gradient(to right, #4775FF, #4775FF 30px, #FFF 30px, #FFF 66.66%, #FFF 66.66%);

    .row {
      flex-wrap: nowrap;
    }
}

.icon {
  height: 20px;
  width: 20px;
  margin: 10px;
}

.list-item {
  align-items: center;
  color: #222222 !important;
  display: flex;
  margin-left: 5px;
}

.prof-pic {
  height: 100%;
  width: auto;
}

.sign-in, .sign-up {
  color: #777777;
  line-height: 150%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 33px;
  text-transform: uppercase;
}

.sign-out {
  align-items: center;
  background-color: #4775FF;
  border: 1px solid #4775FF;
  border-radius: 20px;
  box-sizing: border-box;
  color: #FFF !important;
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  float: right;
  padding: 4px 8px;
  width: 115px;
}

.user-avatar {
  display: flex;
  height: 40px;
  margin-left: 5px;
  width: 40px;
}

.welcome {
  align-items: center;
  color: #222222;
  font-size: 20px;
  display: block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//desktop view
@media (min-width: 768px) {
  .header {
    width: 528px;
    max-height: 79vh;

    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .list-item {
    font-size: 20px;
  }
  .prof-pic {
    height: 100%;
    max-height: 40px;
    width: auto;
  }
  .sign-out {
    margin-left: 240px;
  }
  .welcome {
    font-size: 20px;
    margin-top: 7px;
    margin-left: 10px;
  }
}

// general mobile view
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    max-height: 78vh;
    right: 5vw;
    left: 5vw;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .list-item {
    font-size: 18px;
  }
  .prof-pic {
    max-height: 40px;
    width: auto;
  }
  .sign-out {
    font-size: 12px;
    margin-left: 90px;
  }
  .welcome {
    font-size: 18px;
    margin-top: 5px;
    max-width: 300px;
  }
}

// Medium mobile
@media (min-width: 375px) and (max-width: 424px) {
  .welcome {
    max-width: 255px;
  }
}

// Small mobile
@media (min-width: 320px) and (max-width: 374px) {
  .welcome {
    max-width: 202px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .welcome {
    max-width: 284px;
  }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .welcome {
      max-width: 236px;
    }
  }
