a, a:link, a:visited {
  color: #222222;
  text-decoration: none;
}

.change-pw {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  display: block;
  align-items: center;
  text-decoration-line: underline !important;
}

.close-x-white {
  height: 15px;
  width: 15px;
  margin: 12px;
  margin-top: 0px;
}

.header {
    position: absolute;
    z-index: 10;
    background-color: white;
    top: 75px;
    left: 20px;
    max-width: 508px;
    border-radius: 10px;
    padding: 10px;

    color: #FFF;
    font-family: Roboto;
    font-weight: 300;

    // background: linear-gradient(to right, #4775FF, #4775FF 10%, white 90%);
    background: linear-gradient(to right, #4775FF, #4775FF 30px, #FFF 30px, #FFF 66.66%, #FFF 66.66%);

    .row {
      flex-wrap: nowrap;
    }
}

.icon {
  height: 20px;
  width: 20px;
  margin: 10px;
}

.list-item {
  align-items: center;
  color: #222222 !important;
  display: flex;
  margin-left: 5px;
}

.prof-pic {
  height: 100%;
  width: auto;
}

.sign-in, .sign-up {
  color: #777777;
  line-height: 150%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 33px;
  text-transform: uppercase;
}

.sign-out {
  align-items: center;
  background-color: #4775FF;
  border: 1px solid #4775FF;
  border-radius: 20px;
  box-sizing: border-box;
  color: #FFF !important;
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  float: right;
  padding: 4px 8px;
  width: 115px;
}

.user-avatar {
  display: flex;
  height: 40px;
  margin-left: 5px;
  width: 40px;
}

.welcome {
  align-items: center;
  color: #222222;
  font-size: 20px;
  display: block;
}

//desktop view
@media (min-width: 768px) {
  .header {
    width: 528px;
    height: auto;
  }
  .list-item {
    font-size: 20px;
  }
  .prof-pic {
    height: 100%;
    width: auto;
  }
  .sign-out {
    margin-left: 240px;
  }
  .welcome {
    font-size: 20px;
    margin-top: 7px;
    margin-left: 10px;
  }
}

// general mobile view
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    height: auto;
    max-height: 70vh;
    right: 5vw;
    left: 5vw;
    font-size: 16px;
  }
  .list-item {
    font-size: 18px;
  }
  .prof-pic {
    height: 100%;
    width: auto;
  }
  .sign-out {
    font-size: 12px;
    margin-left: 90px;
  }
  .welcome {
    font-size: 18px;
    margin-top: 5px;
  }
}


////// ALL FOR HEADER HEIGHT

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) {
  .header {
    max-height: 70vh;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  .header {
  max-height: 75vh;
  }
}

/* Samsung Galaxy S3, S4, S5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) {
  .header {
    max-height: 75vh;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  .header {
    max-height: 75vh;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
  .header {
    max-height: 75vh;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
  .header {
    max-height: 75vh;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {
  .header {
    max-height: 75vh;
  }
}
