$wfrBlue: #4775ff;

.nav-bar {
    height: 40px !important;
    width: 40px !important;
    background-color: #4775ff;
    border-radius: 12px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.hamburger {
  display: inline;
  height: 50%;
  margin-top: 9px;
  width: 50%;
}
