.nav-bar {
    position: absolute;
    z-index: 11;
    height: 40px !important;
    width: 40px;
    background-color: #2c55e8;
    top: 30px;
    left: 20px;
    border-radius: 12px;
    img {

        height: 100%;
        width: 100%;
    }
}
