<<<<<<< HEAD
<<<<<<< HEAD
$white: #ffffff;
$wfrBlue: #4775ff;

.list-view {
  justify-content: center;
  display: block;
  height: 2rem;
  background-color: $wfrBlue;
  border-radius: 10px 10px 0px 0px;
  z-index: 12;
  width: 80%;
  position: absolute;
  // wonky bit of css needed to center the element with position: absolute
  bottom: 0;
  left: 50%;
  margin-left: -40%;

  p {
    color: $white;
    margin-top: .25rem;
  }
=======
=======
>>>>>>> Addded initial code for ListView functionality. Need to figure out how to get it to display on the application, on all views.
.list-view {
  height: 100px;
  position: absolute;
  // left: 0%;
  // right: 0%;
  // top: 0%;
  // bottom: 0%;
  background: #4775FF;
  border-radius: 10px 10px 0px 0px;
  z-index: 11;
<<<<<<< HEAD
>>>>>>> Addded initial code for ListView functionality. Need to figure out how to get it to display on the application, on all views.
}

.list-pane {
  background-color: $wfrBlue;
  height: 35%;
  width: 80%;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40%;
=======
>>>>>>> Addded initial code for ListView functionality. Need to figure out how to get it to display on the application, on all views.
}
