$white: #ffffff;
$wfrBlue: #4775ff;

.list-container {
  bottom: 0;
  height: 80vh;
  position: fixed;
  z-index: 12;
  transition: transform .5s
              cubic-bezier(0, .52, 0, 1);

  .list-row {
    height: 100%;

    .list-column {
      background-color: $wfrBlue;
      border-radius: 10px 10px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;

      .list-header {
        align-items: center;
        display: flex;
        flex-flow: column;
        height: 5vh;
        justify-content: center;
        position: relative;
        margin-top: 0;
        top: 0;

        p {
          color: $white;
          margin: 0 auto;
        }
      }

      // .list-content {
      //   align-content: center;
      //   display: flex;
      //   height: 100%;
      //   margin: .25rem auto;
      //   overflow: hidden;
      // }
    }
  }
}

// IDs that dictate the hiding or showing of component
#hide {
  transform: translateY(75vh)
}

#show {
  transform: translateY(0vh)
}
