.input-group {
  align-items: center;
  display: flex;
  max-width: 310px;
  width: calc(100vw - 146px);
  margin-left: .5rem;
  margin-right: .5rem;
  overflow: hidden;
  position: relative;
  top: 0; bottom: 0;

    .location-search-input {
      border-radius: 12px;
      border-style: none;
      height: 40px !important;
      outline: none;
      padding-left: 40px;
      width: 100%;
    }
}

.autocomplete-dropdown-container {
  box-shadow: 2px 16px 32px, rgba(0, 0, 0, 0.25);
  position: absolute;
  width: calc(100vw - 136px);
  max-width: 310px;
  // line-height: 150%;
  margin-top: 2px;
  margin-left: 9px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 5px;
  max-height: 145px;
  border: 1px solid #C4d3FF;
  box-sizing: border-box;
  z-index: 1000;

  &:empty {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.main-text {
  font-size: 16px;
  font-weight: 500;
}

.secondary-text {
  font-size: 14px;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .input-group {
    width: 198px;
  }
  .autocomplete-dropdown-container {
    width: 198px;
  }
}