.input-group {
  align-items: center;
  display: flex;
  width: 413px;
  margin-left: .5rem;
  overflow: hidden;
  position: absolute;
  top: 0; bottom: 0;

    .location-search-input {
      border-radius: 12px;
      border-style: none;
      height: 36px !important;
      outline: none;
      padding-left: 3.5rem;
      width: 363px;
    }

    Button {
      background: #4775ff;
      border-radius: 10px;
      left: .15rem;
      position: absolute;
    }


}

.autocomplete-dropdown-container {
  box-shadow: 2px 16px 32px, rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 363px;
  // line-height: 150%;
  margin-top: 20px;
  margin-left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 5px;
  max-height: 145px;
  border: 1px solid #C4d3FF;
  box-sizing: border-box;
  z-index: 1000;

  &:empty {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.main-text {
  font-size: 16px;
  font-weight: 500;
}

.secondary-text {
  font-size: 14px;
}

// Large desktop
@media only screen and (min-width: 2560px) {
  .input-group {
    width: 505px;
  }

  .autocomplete-dropdown-container {
    width: 505px;
  }
}

// Tablet
@media only screen and (max-width: 768px) {
  .input-group {
      width: 251px;
  }

  .autocomplete-dropdown-container {
    width: 251px;
  }
}

// Large mobile
@media only screen and (max-width: 425px) {
  .input-group {
    width: 75vw;
  }

  .autocomplete-dropdown-container {
    width: 75vw;
  }
}

// Medium mobile
@media only screen and (max-width: 375px) {
  .input-group {
    width: 75vw;
  }

  .autocomplete-dropdown-container {
    width: 75vw;
  }

  .main-text {
    font-size: 14px;
  }

  .secondary-text {
    font-size: 12px;
  }
}
