.input-group {
  align-items: center;
  display: flex;
  margin-left: .5rem;
  overflow: hidden;
  position: absolute;
  top: 0; bottom: 0;

    .location-search-input {
      border-radius: 12px;
      border-style: none;
      width: calc(100% - 50px);
      height: 36px !important;
      padding-left: 3.5rem;
    }

    Button {
      background: #4775ff;
      border-radius: 10px;
      left: .15rem;
      position: absolute;
    }


}

.autocomplete-dropdown-container {
  position: absolute;
  width: calc(100vw - 200px);
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
}

@media (min-width: 450px) {
  .location-search-input {
    width: 100%;
  }
}
