.yellowBubble {
  background: #ffcc47;
  border-radius: 20px;
  display: inline-block;
  height: 8px;
  margin: 0 2px;
  padding: 0;
  width: 24px;
}

.grayBubble {
  background: #C4D3FF;
  border-radius: 20px;
  display: inline-block;
  height: 8px;
  margin: 0 2px;
  padding: 0;
  width: 24px;
}
