// .password-input {
//   color: #222222;
//   font-family: Roboto;
//   text-decoration: none;
// }

.eye {
  opacity: .4;
  margin-right: .5rem;
}

.MuiInputBase-input {
  height: calc(1.5em + 0.75rem + 2px) !important;
  padding: 0px !important;
  color: #222222 !important;
  font-family: Roboto !important;
  font-weight: 300 !important;
  font-size: 1rem;
  padding-left: 0.6rem !important;
}

.MuiInput-input::placeholder {
  color: #222222 !important;
}

.MuiInput-underline::before {
  border-bottom: none !important;
}
