:root {
  --background-image: url('./Smileys/test.png'); /*Variable setup for switching images on slider thumb*/
}

input[type=range] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  // height: 10px; /* Specified height */
  background: #4775FF; /* #4775FF background */
  border-radius: 5px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

input[type=range]:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px; /* width of thumb */
  height: 24px; /* height of thumb */
  // border: 3px solid #0000FF;
  border-radius: 15px; /* Create circle for thumb image */
  background: #ffcc47; /* Back-up coloring if image too small */
  background-image: var(--background-image);
  background-size: 24px; /* Size of image inside thumb */
  cursor: pointer;
}

.slidecontainer {
  width: 90%; /* Width of the outside container */
  margin: 5%;
}
