.google-map {
    position: absolute;
    top: -50px;
    height: calc(100% + 50px) !important;

    // following two classes target the google maps infoWindow
    .gm-style-iw-c {
        display: none;
    }
    .gm-style-iw-t {
        display: none;
    }
}