/* Entire info section */
.settings-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* This is the button that is used to open and close the content */
.settings {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 0px;
}

/* This is the list item that the user sees in the menu, it is the text only, not the button itself */
.settings-title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: left;
  align-items: center;
  color: #222222;
  display: flex;
  font-weight: 300;
  margin: 0px;
  margin-left: 5px;
}


/* Styles the info content panel. Note: hidden by default */
.settings-content {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  transition: max-height 0.6s ease;
  height: 45vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.settings-content::-webkit-scrollbar {
  display: none;
}


/* Styles the info content text */
.settings-text {
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 18px;
  margin-left: 30px;
}

.settings-options {
 padding: 10px 0px,
 :hover {
   color: #4775FF;
 }
}

.settings:hover,
.active {
  color: #4775FF !important;
}

.email-us {
  font-size: 12px !important;
}

.version-info {
  color: #222222;
  font-weight: 300;
  font-size: 11px;
  line-height: 150%;
  padding: 10px 0px,
}

//desktop view
@media (min-width: 768px) {
  .settings-title {
    font-size: 20px;
  }
  .settings-options {
    font-size: 18px;
  }
  .version-info {
    font-size: 13px;
  }
}


//mobile view
@media (min-width: 320px) and (max-width: 767px) {
  .settings-title {
    font-size: 18px;
  }
  .settings-options {
    font-size: 16px;
    padding: 6px 0px;
  }
  .version-info {
    font-size: 11px !important;
  }
}

////// ALL FOR CONTENT WINDOW HEIGHT

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) {
  .settings-content {
    max-height: 30vh;
  }
  .settings-options {
    font-size: 14px;
    padding: 6px 0px;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  .settings-content {
    height: 30vh;
  }
  .settings-text {
    padding-top: 10px;
  }
  .settings-options {
    font-size: 14px;
    padding: 6px 0px;
  }
}

/* Samsung Galaxy S3, S4, S5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) {
  .settings-content {
    height: 30vh;
  }
  .settings-text {
    padding-top: 10px;
  }
  .settings-options {
    font-size: 14px;
    padding: 6px 0px;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  .settings-content {
    height: 39vh;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
  .settings-content {
    height: 42vh;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
  .settings-content {
    height: 41vh;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {
  .settings-content {
    height: 46vh;
  }
}
